---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ENV[geo_key]&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 18:57:31 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ENV[geo_key]&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1987372361"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ENV[geo_key]&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-2007600961"}]}]}'
  recorded_at: Fri, 07 May 2021 18:57:31 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ENV[appid]&exclude=minutely,%20alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620413834,"sunrise":1620388384,"sunset":1620439191,"temp":81.32,"feels_like":79.05,"pressure":1010,"humidity":8,"dew_point":16.39,"uvi":8.68,"clouds":36,"visibility":10000,"wind_speed":6.35,"wind_deg":119,"wind_gust":12.71,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1620410400,"temp":80.98,"feels_like":78.8,"pressure":1009,"humidity":9,"dew_point":18.59,"uvi":9.12,"clouds":34,"visibility":10000,"wind_speed":6.29,"wind_deg":121,"wind_gust":5.32,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1620414000,"temp":81.32,"feels_like":79.05,"pressure":1010,"humidity":8,"dew_point":16.39,"uvi":8.68,"clouds":36,"visibility":10000,"wind_speed":6.35,"wind_deg":119,"wind_gust":12.71,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1620417600,"temp":81.18,"feels_like":78.96,"pressure":1009,"humidity":9,"dew_point":18.72,"uvi":8.1,"clouds":41,"visibility":10000,"wind_speed":6.31,"wind_deg":95,"wind_gust":8.7,"weather":[{"id":802,[...]
