---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 15:18:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=725344274"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=595426807"}]}]}'
  recorded_at: Mon, 26 Apr 2021 15:18:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d348c06ca09dcd2033aaf0b0c3c6b278&exclude=minutely,%20alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619450314,"sunrise":1619438778,"sunset":1619488125,"temp":65.52,"feels_like":62.38,"pressure":993,"humidity":13,"dew_point":15.44,"uvi":2.05,"clouds":35,"visibility":10000,"wind_speed":1.01,"wind_deg":169,"wind_gust":5.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619449200,"temp":65.52,"feels_like":62.38,"pressure":993,"humidity":13,"dew_point":15.44,"uvi":2.05,"clouds":35,"visibility":10000,"wind_speed":6.11,"wind_deg":190,"wind_gust":7.76,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619452800,"temp":65.75,"feels_like":62.58,"pressure":994,"humidity":12,"dew_point":13.98,"uvi":3.91,"clouds":35,"visibility":10000,"wind_speed":5.95,"wind_deg":171,"wind_gust":9.17,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619456400,"temp":67.78,"feels_like":64.72,"pressure":994,"humidity":10,"dew_point":11.73,"uvi":5.83,"clouds":40,"visibility":10000,"wind_speed":2.86,"wind_deg":173,"wind_gust":13.29,"weather":[{"id":8[...]
