---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 16:59:30 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=900572140"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=1uSJxC1Ck8wQ9ln5JymJJWjSzl27lJ43&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=30730845"}]}]}'
  recorded_at: Sat, 24 Apr 2021 16:59:30 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d348c06ca09dcd2033aaf0b0c3c6b278&exclude=minutely,%20alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619283571,"sunrise":1619266137,"sunset":1619315203,"temp":280.46,"feels_like":279.89,"pressure":1016,"humidity":87,"dew_point":278.44,"uvi":5.37,"clouds":75,"visibility":10000,"wind_speed":1.37,"wind_deg":141,"wind_gust":2.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619280000,"temp":280.99,"feels_like":280.47,"pressure":1015,"humidity":77,"dew_point":277.21,"uvi":3.59,"clouds":64,"visibility":10000,"wind_speed":1.39,"wind_deg":152,"wind_gust":2.21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619283600,"temp":280.46,"feels_like":279.89,"pressure":1016,"humidity":87,"dew_point":278.44,"uvi":5.37,"clouds":75,"visibility":10000,"wind_speed":1.37,"wind_deg":141,"wind_gust":2.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619287200,"temp":282.04,"feels_like":282.04,"pressure":1015,"humidity":74,"dew_point":277.66,"uvi":6.74,"clouds":69,"visibility":10000,"wind_speed":1.07,"wind_deg":121,"wind_gust":2.16,"weather":[{"i[...]
