---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos/?client_id=ENV[client_id]&page=1&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=ENV[client_id]&page=4476&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=ENV[client_id]&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '4476'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"9eb1df3868870aea24e15d128e9de50e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":4476,"total_pages":4476,"results":[{"id":"A4RpHR83luM","created_at":"2021-05-01T04:12:54-04:00","updated_at":"2021-05-07T03:19:10-04:00","promoted_at":null,"width":5954,"height":3969,"color":"#0c2626","blur_hash":"L867}^NGNIxY0gxaxENb==RkWXs,","description":"Night
        Time Downtown Denver","alt_description":"city skyline during night time","urls":{"raw":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/A4RpHR83luM","html":"https://unsplash.com/photos/A4RpHR83luM","download":"https://unsplash.com/photos/A4RpHR83luM/download","download_location":"https://api.unsplash.com/photos/A4RpHR83luM/download?ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MjA0MDU4Mjk"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"t2RB-3lbgSk","updated_at":"2021-05-06T03:45:15-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Midwest
        -\u003e Anywhere\r\nMy images are collected all around the country working
        with brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":69,"accepted_tos":true,"for_hire":false},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-04-30T11:01:37-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
