---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos/?client_id=ENV[client_id]&page=1&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=ENV[client_id]&page=2478&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=ENV[client_id]&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '2478'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"b0e05dbcea43f43678c1c91f69b56719"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2478,"total_pages":2478,"results":[{"id":"r82eni3j0bI","created_at":"2020-09-06T12:05:36-04:00","updated_at":"2021-04-27T16:16:11-04:00","promoted_at":null,"width":4862,"height":3646,"color":"#0c59c0","blur_hash":"LhC*9MtlR*V@KUazoekCIwWYaKa#","description":"Downtown
        Denver and Capitol Building","alt_description":"white and gold dome building","urls":{"raw":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/r82eni3j0bI","html":"https://unsplash.com/photos/r82eni3j0bI","download":"https://unsplash.com/photos/r82eni3j0bI/download","download_location":"https://api.unsplash.com/photos/r82eni3j0bI/download?ixid=MnwyMjU5Mzd8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjE5NTYyNDEy"},"categories":[],"likes":14,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"iReUjmhpLcw","updated_at":"2021-04-27T16:31:48-04:00","username":"andrewcoop","name":"Andrew
        Coop","first_name":"Andrew","last_name":"Coop","twitter_username":null,"portfolio_url":null,"bio":"I''m
        an amateur who likes to shoot just about everything that looks interesting.  I
        want to get more experience with portraiture, and will shoot personal photos
        for anyone for free.  Where possible, attribution is appreciated please and
        thank you.","location":"Aurora, CO, USA","links":{"self":"https://api.unsplash.com/users/andrewcoop","html":"https://unsplash.com/@andrewcoop","photos":"https://api.unsplash.com/users/andrewcoop/photos","likes":"https://api.unsplash.com/users/andrewcoop/likes","portfolio":"https://api.unsplash.com/users/andrewcoop/portfolio","following":"https://api.unsplash.com/users/andrewcoop/following","followers":"https://api.unsplash.com/users/andrewcoop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":34,"total_photos":180,"accepted_tos":true,"for_hire":true},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-04-20T11:01:51-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
